/* ---------------------------------- Navigation ---------------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* bottom: 0; */
  height: 60px;
  background-color: rgb(38, 70, 83);
  /* add s-index after adding slider to see the difference*/
  z-index: 100;
  /* box-shadow: 0px 0px 50px gainsboro; */
}

.header-icon {
  width: 40px;
  margin: 8px 15px;
  position: absolute;
}

.title {
  text-align: left;
  position: absolute;
  left: 20px;
  padding: 0;
  margin: 14px 30px 0px;
  color: rgb(244, 162, 97);
}

nav {
  position: absolute;
  right: 0;
  margin: 14px 30px 0px;
}

a {
  color: rgb(244, 162, 97);
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
}

/* ---------------------------------- Jumbotron ---------------------------------- */
#jumbotron {
  width: 100%;
}

.jumbotron {
  padding: 20px;
  text-align: center;
  background-color: rgb(38, 70, 83);
}

.header-flex {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.jumbotron-title {
  color: rgb(224, 251, 252);
  font-size: 30px;
  padding-bottom: 20px;
}

.jumbotron-text {
  color: rgb(224, 251, 252);
  text-align: left;
  padding-bottom: 20px;
  border-bottom: 8px solid rgb(244, 162, 97);
}
/* you may add other styles */
.jumbotron-img {
  height: 300px;
}

.mini-text-flex {
  display: flex;
  justify-content: flex-start;
}

.mini-text {
  color: rgb(224, 251, 252);
  text-align: left;
  margin-right: 5px;
}
.items {
  display: flex;
  justify-content: center;
}
.item {
  display: flex;
  flex-direction: column;
}
.portrait {
  width: 260px;
  height: 350px;
}
h3,
p,
button {
  /* padding: 5px; */
  color: rgb(224, 251, 252);
}
button {
  background-color: rgb(244, 162, 97);
}
.item {
  padding: 1%;
  margin: 10px;
  background-color: rgb(38, 70, 83);
  text-align: center;
}
.aboutplace {
  padding: 1%;
  margin: 10px;
  background-color: rgb(38, 70, 83);
  text-align: center;
}

.aboutplace2 {
  display: flex;
  justify-content: spacece-evenly;
}

.aboutplacetext {
  text-align: left;
  padding-left: 50px;
  width: 50%;
}

.aboutplacetext a {
  padding: 0px;
}
.link {
  color: blue;
}
